.page-rd-hero {
  margin-top: 60px;
  overflow: hidden;
}
.page-rd-hero__line-1, .page-rd-hero__line-2 {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 170px;
  line-height: 85%;
  letter-spacing: -5%;
  margin-left: -5px;
}
@media (max-width: 1199.98px) {
  .page-rd-hero__line-1, .page-rd-hero__line-2 {
    font-size: 140px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-hero__line-1, .page-rd-hero__line-2 {
    font-size: 100px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-hero__line-1, .page-rd-hero__line-2 {
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0.85%;
  }
}
.page-rd-hero__text-inline {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.4%;
  margin-top: 45px;
  margin-left: 20px;
}
@media (max-width: 1199.98px) {
  .page-rd-hero__text-inline {
    margin-left: 20px;
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-hero__text-inline {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .page-rd-hero__text-inline {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -5%;
    margin-top: 24px;
  }
}
.page-rd-hero__bottom-inner {
  margin-top: 23px;
  border-top: 1px solid rgba(31, 32, 34, 0.1019607843);
}
@media (max-width: 767.98px) {
  .page-rd-hero__bottom-inner {
    margin-top: 43px;
  }
}
.page-rd-hero__bottom-text-block {
  padding-top: 96px;
  max-width: 617px;
}
@media (max-width: 1199.98px) {
  .page-rd-hero__bottom-text-block {
    padding-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-hero__bottom-text-block {
    padding-top: 56px;
    max-width: 327px;
  }
}
.page-rd-hero__bottom-text--bold {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -5%;
}
@media (max-width: 767.98px) {
  .page-rd-hero__bottom-text--bold {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.4%;
  }
}
.page-rd-hero__bottom-text--regular {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
  max-width: 542px;
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .page-rd-hero__bottom-text--regular {
    margin-top: 24px;
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -5%;
  }
}
.page-rd-hero__bottom-image-block {
  margin-left: 20px;
  width: 447px;
  height: 353px;
}
@media (max-width: 767.98px) {
  .page-rd-hero__bottom-image-block {
    margin-left: 0;
  }
}
.page-rd-hero__bottom-image {
  height: 100%;
  object-fit: cover;
}
.page-rd-hero__button {
  margin-top: -30px;
  width: 225px;
  height: 60px;
  text-transform: uppercase;
}
.page-rd-hero__button--light {
  background-color: #F7F7F7;
}
.page-rd-hero__button {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 991.98px) {
  .page-rd-hero__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .page-rd-hero__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-hero__button {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-hero__button {
    width: 100%;
    height: 48px;
  }
}

.page-rd-critical {
  overflow: hidden;
}
.page-rd-critical .container {
  max-width: 1165px;
}
.page-rd-critical__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
}
@media (max-width: 991.98px) {
  .page-rd-critical__title {
    font-size: 42px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-critical__title {
    font-size: 32px;
    line-height: 110%;
  }
}
.page-rd-critical__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
  max-width: 511px;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .page-rd-critical__text {
    margin-top: 24px;
  }
}
.page-rd-critical__list {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .page-rd-critical__list {
    margin-top: 40px;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.page-rd-critical__item {
  width: calc(33.33% - 15px);
  height: 328px;
  background-color: #fff;
  padding: 32px 28px;
  padding-top: 52px;
}
.page-rd-critical__item:first-child {
  background-color: #1F2022;
  color: #fff;
  padding-top: 25px;
}
@media (max-width: 991.98px) {
  .page-rd-critical__item {
    width: 338px;
  }
}
.page-rd-critical__item-img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}
.page-rd-critical__item-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  margin-top: 20px;
}

.page-rd-reasons {
  overflow: hidden;
}
.page-rd-reasons__header-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
}
@media (max-width: 991.98px) {
  .page-rd-reasons__header-text {
    font-size: 42px;
    line-height: 110%;
  }
}
@media (max-width: 767.98px) {
  .page-rd-reasons__header-text {
    font-size: 32px;
    line-height: 110%;
    text-align: end;
  }
}
.page-rd-reasons__header-img {
  margin-top: 30px;
}
.page-rd-reasons__body {
  margin-top: 24px;
  border-top: 1px solid rgba(31, 32, 34, 0.1019607843);
  display: grid;
  justify-content: start;
  grid-template-areas: "image text" "image list";
}
@media (max-width: 767.98px) {
  .page-rd-reasons__body {
    grid-template-areas: "text" "image" "list";
  }
}
.page-rd-reasons__body-video-block {
  grid-area: image;
  width: 318px;
  margin-right: 152px;
}
@media (max-width: 1199.98px) {
  .page-rd-reasons__body-video-block {
    margin-right: 52px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-reasons__body-video-block {
    margin-left: auto;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-top: 40px;
    width: 283px;
    height: 506px;
  }
}
.page-rd-reasons__body-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-rd-reasons__body-text-block {
  grid-area: text;
  padding-top: 24px;
  display: flex;
  justify-content: start;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .page-rd-reasons__body-text-block {
    gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-reasons__body-text-block {
    gap: 0;
    flex-direction: column;
  }
}
.page-rd-reasons__body-text {
  width: 330px;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.1%;
}
@media (max-width: 1199.98px) {
  .page-rd-reasons__body-text {
    font-size: 26px;
    width: auto;
  }
}
@media (max-width: 991.98px) {
  .page-rd-reasons__body-text {
    font-size: 24px;
    letter-spacing: -0.85%;
  }
}
@media (max-width: 767.98px) {
  .page-rd-reasons__body-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: -0.85%;
  }
}
.page-rd-reasons__body-list-block {
  grid-area: list;
  margin-top: 100px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .page-rd-reasons__body-list-block {
    margin-top: 56px;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
  }
}
.page-rd-reasons__body-list {
  display: grid;
  grid-template-columns: repeat(2, 399px);
  grid-template-rows: repeat(2, 164px);
  gap: 10px;
}
@media (max-width: 1399.98px) {
  .page-rd-reasons__body-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .page-rd-reasons__body-list {
    display: flex;
    gap: 0;
  }
}
.page-rd-reasons__body-list-item {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 28px;
}
@media (max-width: 991.98px) {
  .page-rd-reasons__body-list-item {
    width: 338px;
    height: 164px;
  }
}
.page-rd-reasons__body-list-item-img {
  width: 60px;
  height: 60px;
}

.page-rd-reviews {
  padding-top: 140px;
  padding-bottom: 120px;
}
@media (max-width: 991.98px) {
  .page-rd-reviews {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-reviews {
    background-image: url("../img/rd/rd-reasons-bg.png");
    background-repeat: no-repeat;
  }
}
.page-rd-reviews__header {
  text-align: end;
  margin-bottom: 79px;
}
@media (max-width: 991.98px) {
  .page-rd-reviews__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-reviews__header {
    margin-bottom: 46px;
  }
}
.page-rd-reviews__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
}
@media (max-width: 767.98px) {
  .page-rd-reviews__title {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.85%;
  }
}
.page-rd-reviews__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .page-rd-reviews__text {
    margin-top: 16px;
    max-width: 291px;
    margin-left: auto;
  }
}
.page-rd-reviews__slide {
  height: 280px;
  width: 711px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}
@media (max-width: 991.98px) {
  .page-rd-reviews__slide {
    width: 605px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-reviews__slide {
    width: 330px;
    height: 150px;
    padding: 30px;
  }
}
.page-rd-reviews__slide-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.1%;
}
@media (max-width: 991.98px) {
  .page-rd-reviews__slide-text {
    font-size: 26px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-reviews__slide-text {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -5%;
    position: relative;
    z-index: 2;
  }
}
.page-rd-reviews__slide-img {
  position: absolute;
  bottom: -10px;
  right: 76px;
  width: 157px;
  height: 126px;
}
@media (max-width: 767.98px) {
  .page-rd-reviews__slide-img {
    right: -14px;
  }
}
.page-rd-reviews .swiper-wrapper {
  transition-timing-function: linear !important;
  pointer-events: none;
}

.page-rd-promo {
  padding: 100px 0 120px 0;
}
@media (max-width: 991.98px) {
  .page-rd-promo {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .page-rd-promo {
    padding-top: 56px;
  }
}
.page-rd-promo__static {
  padding-top: 48px;
  margin-left: -10px;
}
@media (max-width: 991.98px) {
  .page-rd-promo__static {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .page-rd-promo__static {
    padding-top: 0;
  }
}
.page-rd-promo__static-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.1%;
}
@media (max-width: 767.98px) {
  .page-rd-promo__static-text {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.4%;
  }
}
.page-rd-promo__static-subtext {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
}
@media (max-width: 767.98px) {
  .page-rd-promo__static-subtext {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -5%;
  }
}
.page-rd-promo__interact {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .page-rd-promo__interact {
    margin-top: 24px;
  }
}
.page-rd-promo__interact .swiper {
  height: 392px;
}
@media (max-width: 767.98px) {
  .page-rd-promo__interact .swiper {
    height: 333px;
  }
}
.page-rd-promo__interact-static-block {
  max-width: 381px;
  margin-top: 39px;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.4%;
}
@media (max-width: 767.98px) {
  .page-rd-promo__interact-static-block {
    line-height: 100%;
    letter-spacing: -0.4%;
    margin-top: 0;
  }
}
.page-rd-promo__interact-list {
  position: relative;
}
.page-rd-promo__interact-item {
  transition: margin 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease;
}
.page-rd-promo__interact-item-label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
  color: #D4D4D4;
  margin-bottom: 7px;
  transition: color 0.8s ease;
}
.page-rd-promo__interact-item-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  color: #D4D4D4;
  max-width: none;
  margin-left: 10px;
  transform-origin: left top;
  transform: scale(0.22);
  transition: color 0.8s ease, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (max-width: 767.98px) {
  .page-rd-promo__interact-item-text {
    font-size: 32px;
    letter-spacing: -5%;
    line-height: 110%;
    transform: scale(0.62);
  }
}
.page-rd-promo__interact-item.swiper-slide {
  opacity: 0;
  visibility: hidden;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
}
.page-rd-promo__interact-item.swiper-slide-active, .page-rd-promo__interact-item.swiper-slide-next {
  opacity: 1;
  visibility: visible;
  height: max-content !important;
}
.page-rd-promo__interact-item.swiper-slide-active {
  margin-top: 0;
  transform: translateY(0);
}
.page-rd-promo__interact-item.swiper-slide-next {
  margin-top: 40px;
  transform: translateY(10px);
}
.page-rd-promo__interact-item.swiper-slide-active .page-rd-promo__interact-item-label {
  color: black;
}
.page-rd-promo__interact-item.swiper-slide-active .page-rd-promo__interact-item-text {
  color: black;
  transform: scale(1);
}

.page-rd-about {
  padding-top: 118px;
}
@media (max-width: 991.98px) {
  .page-rd-about {
    padding-top: 90px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about {
    padding-top: 56px;
  }
}
.page-rd-about__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  text-align: end;
}
@media (max-width: 991.98px) {
  .page-rd-about__title {
    font-size: 52px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__title {
    font-size: 32px;
    line-height: 110%;
  }
}
.page-rd-about__subtext-list {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  margin-left: -10px;
}
@media (max-width: 1199.98px) {
  .page-rd-about__subtext-list {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__subtext-list {
    flex-direction: column;
    gap: 24px;
  }
}
.page-rd-about__subtext-item {
  max-width: 345px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.85%;
}
.page-rd-about__accordion {
  margin-top: 78px;
}
@media (max-width: 767.98px) {
  .page-rd-about__accordion {
    margin-top: 56px;
  }
}
.page-rd-about__accordion-item {
  border-top: 1px solid rgba(31, 32, 34, 0.1019607843);
}
.page-rd-about__accordion-item:last-child {
  border-bottom: 1px solid rgba(31, 32, 34, 0.1019607843);
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-item {
    padding-top: 16px;
  }
  .page-rd-about__accordion-item:last-child {
    border-bottom: none;
  }
}
.page-rd-about__accordion-arrow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 34, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s transform ease-in-out;
}
.page-rd-about__accordion-button {
  all: initial;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.85%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-button {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -5%;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__accordion-button {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.page-rd-about__accordion-button:hover .page-rd-about__accordion-arrow {
  border-color: #1F2022;
}
.page-rd-about__accordion-button:not(.collapsed) .page-rd-about__accordion-arrow {
  transform: rotate(180deg);
  border-color: #1F2022;
}
.page-rd-about__accordion-body {
  display: flex;
  gap: 146px;
  padding-left: 120px;
  padding-bottom: 80px;
}
@media (max-width: 1199.98px) {
  .page-rd-about__accordion-body {
    gap: 80px;
  }
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-body {
    padding-left: 0;
    padding-bottom: 32px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__accordion-body {
    gap: 0;
  }
}
.page-rd-about__accordion-title-list {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 447px;
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-title-list {
    padding-top: 16px;
  }
}
.page-rd-about__accordion-title-item {
  display: flex;
  flex-direction: column;
  color: #D4D4D4;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.page-rd-about__accordion-title-item-inner {
  display: flex;
  gap: 15px;
}
.page-rd-about__accordion-title-item.active, .page-rd-about__accordion-title-item:hover {
  color: #1F2022;
}
.page-rd-about__accordion-title-item.active svg, .page-rd-about__accordion-title-item:hover svg {
  fill: #1F2022;
}
.page-rd-about__accordion-title-item {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.1%;
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-title-item {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.4%;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__accordion-title-item {
    gap: 32px;
  }
}
.page-rd-about__accordion-title-item svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 7px;
  fill: #D4D4D4;
}
@media (max-width: 991.98px) {
  .page-rd-about__accordion-title-item svg {
    margin-top: 0;
  }
}
.page-rd-about__accordion-image--inner {
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.page-rd-about__accordion-image--inner img {
  width: 283px;
  height: 370px;
  object-fit: cover;
  position: relative;
}
@media (min-width: 768px) {
  .page-rd-about__accordion-image--inner {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .page-rd-about__accordion-image-list {
    display: none;
  }
}
.page-rd-about__accordion-image-item {
  width: 573px;
  height: 572px;
  object-fit: cover;
  display: none;
}
@media (max-width: 1199.98px) {
  .page-rd-about__accordion-image-item {
    width: 354px;
    height: 353px;
  }
}
.page-rd-about__accordion-image-item.active {
  display: block;
}

.page-rd-process {
  padding: 120px 0;
}
@media (max-width: 767.98px) {
  .page-rd-process {
    padding: 56px 0 20px 0;
    background-image: url("../img/rd/page-rd-process-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 350px;
  }
}
.page-rd-process .container {
  max-width: 1165px;
}
.page-rd-process__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
}
@media (max-width: 991.98px) {
  .page-rd-process__title {
    font-size: 56px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-process__title {
    font-size: 32px;
    line-height: 110%;
  }
}
.page-rd-process__body {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 767.98px) {
  .page-rd-process__body {
    flex-direction: row;
    gap: 54px;
  }
}
.page-rd-process__numbers {
  display: flex;
  justify-content: end;
  position: relative;
}
@media (max-width: 767.98px) {
  .page-rd-process__numbers {
    flex-direction: column;
    height: 450px;
  }
}
.page-rd-process__numbers::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 50%;
  position: absolute;
  background-color: #D4D4D4;
}
@media (max-width: 767.98px) {
  .page-rd-process__numbers::after {
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
  }
}
.page-rd-process__number {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  border: 1px solid #D4D4D4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.1%;
  cursor: pointer;
  background-color: #F7F7F7;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .page-rd-process__number {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }
}
.page-rd-process__number:hover, .page-rd-process__number.active {
  color: #fff;
  background-color: #1F2022;
  border-color: #1F2022;
}
.page-rd-process__data {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .page-rd-process__data {
    margin-top: 0;
  }
}
.page-rd-process__data-item {
  display: none;
  justify-content: space-between;
  align-items: end;
  height: 110px;
}
.page-rd-process__data-item.active {
  display: flex;
}
@media (max-width: 767.98px) {
  .page-rd-process__data-item.active {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
  }
}
.page-rd-process__data-item-title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.85%;
  max-width: 610px;
}
@media (max-width: 991.98px) {
  .page-rd-process__data-item-title {
    font-size: 38px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-process__data-item-title {
    font-size: 20px;
    letter-spacing: -0.4%;
    max-width: 220px;
  }
}
.page-rd-process__data-item-text {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.4%;
  text-align: start;
  max-width: 370px;
}
@media (max-width: 991.98px) {
  .page-rd-process__data-item-text {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-process__data-item-text {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -5%;
    max-width: 220px;
  }
}

.page-rd-further {
  padding-top: 100px;
}
@media (max-width: 767.98px) {
  .page-rd-further {
    padding-top: 24px;
  }
}
.page-rd-further .container {
  border-top: 1px solid rgba(31, 32, 34, 0.1019607843);
  border-bottom: 1px solid rgba(31, 32, 34, 0.1019607843);
}
.page-rd-further__body {
  max-width: 1165px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 37px 0 60px 0;
}
@media (max-width: 767.98px) {
  .page-rd-further__body {
    align-items: start;
  }
}
.page-rd-further__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -5%;
  max-width: 335px;
}
@media (max-width: 991.98px) {
  .page-rd-further__title {
    font-size: 56px;
  }
}
@media (max-width: 767.98px) {
  .page-rd-further__title {
    font-size: 32px;
    line-height: 110%;
    max-width: 166px;
  }
}
.page-rd-further__list {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .page-rd-further__list {
    flex-direction: column;
    gap: 70px;
  }
}
.page-rd-further__item {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.4%;
  width: 192px;
  position: relative;
}
.page-rd-further__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translate(-100%, -50%);
  background-image: url("../img/rd/arrow-right.svg");
  width: 22px;
  height: 22px;
}
@media (max-width: 991.98px) {
  .page-rd-further__item:not(:last-child)::after {
    left: 0;
    top: 150%;
    transform: rotate(90deg);
  }
}
.page-rd-further__item:first-child::after {
  right: -40%;
}
