.hero__video {
  height: 638px;
  margin-bottom: 1px;
}
.hero__video video {
  backface-visibility: hidden;
  transform: translateZ(0);
  box-shadow: 0 0 0 1px #F7F7F7;
}
@media (max-width: 991.98px) {
  .hero__video {
    height: 438px;
  }
}
@media (max-width: 767.98px) {
  .hero__video {
    height: 245px;
  }
}
.hero__stock {
  padding: 10px 0;
  border-top: 1px solid rgba(31, 32, 34, 0.1019607843);
  border-bottom: 1px solid rgba(31, 32, 34, 0.1019607843);
}
@media (max-width: 767.98px) {
  .hero__stock {
    margin-bottom: 56px;
  }
}
.hero__slider-wrapper {
  display: flex;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .hero__slider-wrapper {
    gap: 0;
  }
}
.hero__slide {
  padding: 20px;
  width: calc(33.33% - 10px);
  height: 133px;
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .hero__slide {
    width: 294px;
  }
}
.hero__slide-badge {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .hero__slide-badge {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .hero__slide-badge {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
.hero__slide-badge {
  background-color: #F7F7F7;
  padding: 10px 14px;
  border-radius: 100px;
}
.hero__slide-title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 991.98px) {
  .hero__slide-title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 575.98px) {
  .hero__slide-title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
  }
}
.hero__slide-img {
  height: 100%;
  object-fit: contain;
}
.hero__buttons {
  gap: 10px;
}
@media (max-width: 1199.98px) {
  .hero__buttons {
    margin-top: 20px;
  }
}
.hero__button {
  width: 100%;
  flex: 1;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 991.98px) {
  .hero__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .hero__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
.hero__button {
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .hero__button {
    padding: 12px;
  }
}
@media (max-width: 575.98px) {
  .hero__button {
    padding: 14px;
  }
  .hero__button.button--light {
    background-color: transparent;
  }
}
.hero__ticker {
  cursor: default;
}
.hero__ticker * {
  pointer-events: none;
}
.hero__ticker-wrapper {
  transition-timing-function: linear !important;
}
.hero__ticker-slide {
  margin-top: -50px;
  width: auto;
  color: #1F2022;
  vertical-align: top;
  display: flex;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 170px;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  .hero__ticker-slide {
    margin-top: -30px;
    font-size: 120px;
  }
}
@media (max-width: 575.98px) {
  .hero__ticker-slide {
    font-size: 110px;
  }
}

.facts__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}
.facts__title--transition {
  transform: scale(1.6);
  transform-origin: bottom left;
}
@media (max-width: 991.98px) {
  .facts__title--transition {
    transform: scale(1.1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .facts__title--transition {
    transition: transform 2.5s ease;
  }
}
@media (max-width: 575.98px) {
  .facts__title--transition {
    transform: scale(1);
    font-size: 54px;
    line-height: 46px;
  }
}
@media (max-width: 767.98px) {
  .facts__title {
    margin-top: 40px;
  }
}
.facts__slider {
  padding: 10px 0;
}
@media (max-width: 767.98px) {
  .facts__slider {
    padding: 0;
  }
}
.facts__slider--tl .facts__slide, .facts__slider--tr .facts__slide {
  display: flex;
  align-items: end;
}
.facts__slider--bl .facts__slide, .facts__slider--br .facts__slide {
  display: flex;
  align-items: start;
}
.facts [class^=facts__slide-img-] {
  object-fit: cover;
}
.facts__slide-img-1 {
  width: 283px;
  height: 338px;
}
.facts__slide-img-2 {
  width: 283px;
  height: 303px;
}
.facts__slide-img-3 {
  width: 283px;
  height: 340px;
}
.facts__slide-img-4 {
  width: 283px;
  height: 340px;
}
.facts__center-block {
  height: 54%;
}
@media (max-width: 575.98px) {
  .facts__center-block-swiper--top {
    height: 70px;
  }
  .facts__center-block-swiper--botom {
    height: 105px;
  }
}
.facts__center-block-divider {
  opacity: 0 !important;
}
@media (max-width: 575.98px) {
  .facts__center-block-divider {
    margin: 16px 0 0 0;
  }
}
.facts__center-block-divider--transition {
  transition: opacity 2.3s ease;
  opacity: 0.25 !important;
}
.facts__center-block-text {
  display: grid;
  grid-template-areas: "A B" "C D";
  column-gap: 20px;
  align-content: space-between;
  opacity: 0;
}
.facts__center-block-text--mobile {
  margin-top: 24px;
}
.facts__center-block-text {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .facts__center-block-text {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .facts__center-block-text {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .facts__center-block-text {
    transition: opacity 5.5s ease-out, opacity 5.5s ease-out;
  }
}
.facts__center-block-text--transition {
  opacity: 1;
}
@media (max-width: 767.98px) {
  .facts__center-block-text {
    grid-template-areas: "A B" "C C" "D D";
  }
}
.facts__center-block-text-item-1 {
  grid-area: A;
}
.facts__center-block-text-item-2 {
  grid-area: B;
}
.facts__center-block-text-item-3 {
  grid-area: C;
}
@media (max-width: 767.98px) {
  .facts__center-block-text-item-3 {
    margin-top: 40px !important;
  }
}
.facts__center-block-text-item-4 {
  grid-area: D;
}
@media (max-width: 767.98px) {
  .facts__center-block-text-item-4 {
    margin-top: 8px;
  }
}
.facts__button {
  padding: 23px 5px;
  text-transform: uppercase;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 991.98px) {
  .facts__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .facts__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 991.98px) {
  .facts__button {
    padding: 15px 5px;
    margin-top: 10px;
  }
}
@media (max-width: 575.98px) {
  .facts__button {
    height: 48px;
  }
  .facts__button.button--light {
    background-color: transparent;
  }
}
.facts .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(31, 32, 34, 0.1019607843);
}
.facts.js-facts-section {
  height: 3000px;
}
@media (max-width: 575.98px) {
  .facts.js-facts-section {
    height: auto;
  }
}
.facts.js-facts-section .js-facts-mobile-next {
  position: absolute;
  transition: transform 0.5s ease-in-out;
  transform: translateY(300px);
  border-radius: 100%;
  border: 1px solid #1F2022;
  height: 118px;
  width: 118px;
  padding: 39px;
  background-image: url("../img/arrow-right.svg") !important;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  background-position: center;
  z-index: 11;
}
.facts .js-facts-container {
  position: sticky;
  top: 0;
}
.facts__photo-slide {
  height: 340px;
  width: 100vw;
}
.facts__photo-slide-1 {
  justify-content: start;
}
.facts__photo-slide-2 {
  justify-content: end;
}
.facts__photo-slide-3 {
  justify-content: start;
}
.facts__photo-slide-4 {
  justify-content: center;
}

.facts .swiper {
  opacity: 0;
}
.facts .swiper--transition {
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .facts .swiper--transition {
    transition: opacity 2.5s ease;
  }
}
.facts-1 {
  grid-area: l;
}
.facts-2 {
  grid-area: t;
}
@media (max-width: 991.98px) {
  .facts-2 {
    order: -1 !important;
  }
}
@media (max-width: 575.98px) {
  .facts-2 {
    height: auto;
  }
}
.facts-3 {
  grid-area: r;
}
@media (max-width: 991.98px) {
  .facts-1, .facts-3 {
    align-self: stretch;
    height: auto;
    width: 100%;
    display: flex !important;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .facts-1, .facts-3 {
    display: none !important;
  }
}
.facts__center-block-swiper--top .swiper-slide {
  display: flex;
  align-items: flex-end;
}
.facts__center-block-swiper--bottom {
  height: 105px;
}
.facts__center-block-swiper--bottom .swiper-slide {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 575.98px) {
  .facts__center-block {
    flex-grow: 1;
  }
}
.facts__center-block .swiper {
  display: none;
  pointer-events: none;
}
@media (max-width: 575.98px) {
  .facts__center-block .swiper {
    display: block;
  }
}
.facts__center-block .swiper {
  overflow: visible;
}
.facts__center-block .swiper .swiper-slide {
  overflow: visible;
}
.facts__center-block .swiper-photos {
  margin: 0 calc(var(--bs-gutter-x) * -0.5);
  display: none;
  pointer-events: none;
  height: 340px;
  width: 100vw;
}
.facts__center-block .swiper-photos .swiper-slide {
  width: 100vw;
  height: 100%;
}
@media (max-width: 575.98px) {
  .facts__center-block .swiper-photos {
    display: block;
  }
}
.facts .js-facts-container {
  height: 100vh;
}
@media (max-width: 575.98px) {
  .facts .js-facts-container {
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .facts .js-facts-container .row {
    row-gap: 0;
    display: grid;
    grid-template-areas: "t t" "l r";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
  }
}
@media (max-width: 991.98px) {
  .facts-section__inner {
    height: 300px !important;
    flex-grow: 1;
  }
}
@media (max-width: 991.98px) {
  .facts__center-block {
    height: unset !important;
  }
}

.flavors__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .flavors__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 575.98px) {
  .flavors__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
  }
}
@media (max-width: 575.98px) {
  .flavors__title {
    margin-top: 56px;
  }
}
.flavors__slider {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .flavors__slider {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .flavors__slider {
    margin-top: 24px;
  }
}
.flavors__slider-wrapper {
  transition-timing-function: ease-out !important;
}
.flavors-slide {
  background-color: #fff;
  width: calc(33.33% - 10px);
  max-width: 453px;
  padding: 40px 28px 0 28px;
  height: 700px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.flavors-slide:hover {
  border-top: 2px solid #1F2022;
  border-bottom: 2px solid #1F2022;
}
@media (max-width: 1199.98px) {
  .flavors-slide {
    height: 506px;
  }
}
@media (max-width: 991.98px) {
  .flavors-slide {
    height: 456px;
    width: 267px;
  }
}
@media (max-width: 575.98px) {
  .flavors-slide {
    padding: 24px 24px 0 24px;
  }
}
.flavors-slide__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
@media (max-width: 991.98px) {
  .flavors-slide__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 575.98px) {
  .flavors-slide__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}
.flavors-slide__description {
  margin-top: 26px;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .flavors-slide__description {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .flavors-slide__description {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
@media (max-width: 767.98px) {
  .flavors-slide__description {
    margin-top: 16px;
  }
}
.flavors-slide__option {
  padding: 14px;
  background-color: #F7F7F7;
  border-radius: 100px;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .flavors-slide__option {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .flavors-slide__option {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
.flavors-slide .divider {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(31, 32, 34, 0.1019607843);
}
.flavors-slide .button {
  padding: 13px 16px;
}
@media (max-width: 767.98px) {
  .flavors-slide .button {
    padding: 10px 10px;
  }
}

.reviews__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .reviews__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 575.98px) {
  .reviews__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
  }
}
.reviews__description {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
}
@media (max-width: 991.98px) {
  .reviews__description {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
  }
}
@media (max-width: 575.98px) {
  .reviews__description {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
  }
}
.reviews__description {
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .reviews__description {
    margin: 24px auto 0 auto;
    width: 176px;
  }
}
.reviews__slider {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .reviews__slider {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .reviews__slider {
    height: 196px;
  }
}
.reviews__slider-wrapper {
  transition-timing-function: linear !important;
}
.reviews-slide {
  padding: 40px;
  width: 926px;
  background-color: #fff;
  position: relative;
  gap: 160px;
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .reviews-slide {
    gap: 60px;
    width: 684px;
  }
}
@media (max-width: 767.98px) {
  .reviews-slide {
    gap: 60px;
    width: 330px;
    padding: 16.89px 24px 16.89px 16.89px;
  }
}
.reviews-slide::before {
  z-index: 2;
  content: "";
  position: absolute;
  width: 126px;
  height: 126px;
  left: 20%;
  top: 15%;
  transform: translateY(-50%);
  background-image: url("../img/quotes.svg");
  background-size: cover;
}
.reviews-slide::after {
  z-index: 2;
  content: "";
  position: absolute;
  width: 126px;
  height: 126px;
  left: 32%;
  top: 15%;
  transform: translateY(-50%);
  background-image: url("../img/quotes.svg");
  background-size: cover;
}
@media (max-width: 991.98px) {
  .reviews-slide::before, .reviews-slide::after {
    width: 86px;
    height: 86px;
  }
}
@media (max-width: 767.98px) {
  .reviews-slide::before, .reviews-slide::after {
    top: 10%;
    width: 46px;
    height: 46px;
  }
}
.reviews-slide__mark {
  z-index: 4;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 250;
  font-size: 140px;
  line-height: 140px;
}
@media (max-width: 767.98px) {
  .reviews-slide__mark {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 250;
    font-size: 60px;
    line-height: 60px;
  }
}
.reviews-slide__star {
  margin-top: 55px;
  width: 47px;
  height: 47px;
}
@media (max-width: 767.98px) {
  .reviews-slide__star {
    margin-top: 101px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 575.98px) {
  .reviews-slide__star {
    margin-top: 0;
  }
}
.reviews-slide__text {
  z-index: 4;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
@media (max-width: 767.98px) {
  .reviews-slide__text {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
  }
}
.reviews-slide__author {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .reviews-slide__author {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .reviews-slide__author {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
@media (max-width: 767.98px) {
  .reviews-slide__author {
    font-size: 14px;
  }
}

.questions__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .questions__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 575.98px) {
  .questions__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
  }
}
@media (max-width: 767.98px) {
  .questions__title {
    text-align: end;
  }
}
.questions__accordion {
  margin-top: 100px;
}
@media (max-width: 767.98px) {
  .questions__accordion {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .questions__accordion {
    margin-top: 20px;
  }
}
.questions__accordion-title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
@media (max-width: 991.98px) {
  .questions__accordion-title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 575.98px) {
  .questions__accordion-title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}
.questions__accordion-title {
  color: #1F2022;
}
@media (max-width: 767.98px) {
  .questions__accordion-title {
    width: 125px;
  }
}
.questions__accordion-item {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(31, 32, 34, 0.1607843137) !important;
  border-radius: 0;
}
.questions__accordion-header {
  border: none !important;
}
.questions__accordion-button {
  padding: 0;
  background-color: transparent !important;
  outline-color: transparent !important;
  box-shadow: none !important;
}
@media (max-width: 767.98px) {
  .questions__accordion-button {
    padding: 16px 0;
  }
}
.questions__accordion-button::after {
  border-radius: 100%;
  border: 1px solid rgba(31, 32, 34, 0.1607843137);
  height: 100px;
  width: 100px;
  padding: 39px;
  background-image: url("../img/arrow.svg") !important;
  background-position: center;
  margin-left: 20px;
}
.questions__accordion-button:hover::after {
  border-color: #1F2022;
}
.questions__accordion-tag {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 991.98px) {
  .questions__accordion-tag {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .questions__accordion-tag {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
.questions__accordion-tag {
  color: rgba(31, 32, 34, 0.1607843137);
}
@media (max-width: 767.98px) {
  .questions__accordion-tag {
    width: 85px;
  }
}
.questions__accordion-body {
  width: 50%;
  margin-left: auto;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
@media (max-width: 991.98px) {
  .questions__accordion-body {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 575.98px) {
  .questions__accordion-body {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
.questions__accordion-body {
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -5%;
}
@media (min-width: 992px) {
  .questions__accordion-body {
    padding: 40px 20px 48px 0;
  }
}
@media (max-width: 767.98px) {
  .questions__accordion-body {
    width: 100%;
    padding: 24px 0;
  }
}

.reasons {
  position: relative;
}
.reasons::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/reasons/reasons-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (max-width: 575.98px) {
  .reasons {
    background: none;
    background-repeat: no-repeat;
  }
  .reasons::before {
    top: 210px;
    right: 25%;
    width: 487px;
    height: 309px;
    background-image: url("../img/reasons/reasons-mobile.png");
    background-position: left;
    background-size: cover;
    background-size: cover;
    transform: rotate(256deg);
  }
}
.reasons__title {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 991.98px) {
  .reasons__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 575.98px) {
  .reasons__title {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
  }
}
.reasons__title {
  letter-spacing: -5%;
  color: rgba(31, 32, 34, 0.1607843137);
}
.reasons__title.active {
  color: #1F2022;
}
@media (max-width: 767.98px) {
  .reasons__title {
    font-size: 45px;
  }
}
@media (max-width: 575.98px) {
  .reasons__title {
    font-size: 31px;
  }
}
@media (max-width: 575.98px) {
  .reasons #line2 {
    margin-top: 16px;
  }
}
.reasons__line {
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 0;
}
@media (max-width: 767.98px) {
  .reasons__line {
    text-align: left;
  }
}
.reasons__magnet-text {
  position: absolute;
  transition: transform 0.4s cubic-bezier(0.34, 1.5, 0.64, 1);
  left: 0;
  top: 0;
  transform: translateY(0);
  color: #1F2022;
}
@media (max-width: 767.98px) {
  .reasons__magnet-text {
    width: 50%;
    padding-right: 12px;
  }
}
.reasons__inner {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  justify-items: stretch;
  column-gap: 138px;
  grid-template-areas: "A B" "A C";
}
@media (max-width: 991.98px) {
  .reasons__inner {
    margin-top: 80px;
    column-gap: 24px;
    grid-template-areas: "A B" "A B" "C C";
  }
}
@media (max-width: 767.98px) {
  .reasons__inner {
    margin-top: 40px;
  }
}
.reasons__element-1 {
  grid-area: A;
}
.reasons__element-2 {
  grid-area: B;
}
.reasons__element-3 {
  grid-area: C;
}
.reasons__blocks {
  gap: 1px;
}
.reasons__block {
  background-color: #1F2022;
  padding: 32px 32px 32px 28px;
  color: #fff;
  max-width: 454px;
}
@media (max-width: 767.98px) {
  .reasons__block {
    padding: 24px;
  }
}
.reasons__block-metricks {
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 52px;
}
@media (max-width: 991.98px) {
  .reasons__block-metricks {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 575.98px) {
  .reasons__block-metricks {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
  }
}
.reasons__block-text {
  margin-top: 52px;
  text-align: end;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 991.98px) {
  .reasons__block-text {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 575.98px) {
  .reasons__block-text {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 767.98px) {
  .reasons__block-text {
    margin-top: 24px;
    font-weight: 400;
  }
}
.reasons__content {
  display: none;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 767.98px) {
  .reasons__content {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    line-height: 120% !important;
  }
}
@media (max-width: 767.98px) and (max-width: 991.98px) {
  .reasons__content {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 767.98px) and (max-width: 575.98px) {
  .reasons__content {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}
.reasons__content.active {
  display: block;
}
.reasons__buttons {
  gap: 20px;
}
@media (max-width: 991.98px) {
  .reasons__buttons {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .reasons__buttons {
    gap: 8px;
  }
}
.reasons__button {
  background-color: transparent;
  padding: 23px;
  text-transform: uppercase;
  max-width: 454px;
  font-family: "Musticapro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 991.98px) {
  .reasons__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .reasons__button {
    font-family: "Musticapro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 767.98px) {
  .reasons__button {
    padding: 12px;
    height: 48px;
  }
}
.reasons__button:hover {
  background-color: #1F2022;
  color: #fff;
}
