.facts {
  &__title {
    @include typography("Musticapro", normal, 600, 36px, 36px);

    &--transition {
      font-size: 60px;
      line-height: 60px;

      @media (prefers-reduced-motion: no-preference) {
        transition: font-size 2.5s ease, line-height 2.5s ease;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: auto;
    }
  }

  &__title,
  &__title--transition {
    @include media-breakpoint-down(md) {
      transition: none;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__slider {
    opacity: 0;

    &--transition {
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 5s ease;
      }
    }

    &--tl,
    &--tr {
      .facts__slide {
        display: flex;
        align-items: end;
      }
    }

    &--bl,
    &--br {
      .facts__slide {
        display: flex;
        align-items: start;
      }
    }
  }
  
  [class^="facts__slide-img-"] {
    object-fit: cover;
  }

  &__slide {
    
    &-img {
      
      &-1 {
        width: 283px;
        height: 338px;
      }

      &-2 {
        width: 283px;
        height: 303px;
      }

      &-3 {
        width: 283px;
        height: 340px;
      }

      &-4 {
        width: 283px;
        height: 340px;
      }
    }
  }

  &__center-block {
    height: 54%;

    hr {
      margin: 16px 0;
    }
  }

  &__center-block-text {
    display: grid;
    grid-template-areas:
      'A B'
      'C D';
    column-gap: 20px;
    align-content: space-between;
    opacity: 0;

    @include typography-caption;

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 5.5s ease-out, opacity 5.5s ease-out;
    }

    &--transition {
      opacity: 1;
    }

    @include media-breakpoint-down(md) {
      grid-template-areas:
        'A B'
        'C C'
        'D D';
    }

    &-item {
      &-1 {
        grid-area: A;
      }

      &-2 {
        grid-area: B;
      }

      &-3 {
        grid-area: C;

        @include media-breakpoint-down(md) {
          margin-top: 40px;
        }
      }

      &-4 {
        grid-area: D;

        @include media-breakpoint-down(md) {
          margin-top: 8px;
        }
      }
    }
  }

  &__center-block-text,
  &__center-block-text--transition {
    @include media-breakpoint-down(md) {
      transition: none;
      opacity: 1;
    }
  }

  &__button {
    padding: 23px 5px;
    text-transform: uppercase;

    @include typography-body;

    @include media-breakpoint-down(lg) {
      padding: 10px 5px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $color-gray-dark;
  }

  &.js-facts-section {
    height: 400vh;
  }

  .js-facts-container {
    position: sticky;
    top: 0;
  }

  &__photo-slide {
    height: 340px;
    width: 100vw;
  }
}

// Дополнительные стили для модификаторов и адаптива
.facts {
  &-1 {
    grid-area: l;
  }

  &-2 {
    grid-area: t;

    @include media-breakpoint-down(lg) {
      order: -1 !important;
    }

    @include media-breakpoint-down(sm) {
      height: 100vh;
    }
  }

  &-3 {
    grid-area: r;
  }

  &-1,
  &-3 {
    @include media-breakpoint-down(lg) {
      align-self: stretch;
      height: auto;
      width: 100%;
      display: flex !important;
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  &__center-block {
    &-swiper {
      &--top {
        .swiper-slide {
          display: flex;
          align-items: flex-end;
        }
      }

      &--bottom {
        .swiper-slide {
          display: flex;
          align-items: flex-start;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      flex-grow: 1;
    }
  }

  &__center-block .swiper {
    display: none;
    pointer-events: none;

    @include media-breakpoint-down(sm) {
      display: block;
      height: 90px;
    }

    &-photos {
      margin: 0 calc(var(--bs-gutter-x) * -0.5);
      display: none;
      pointer-events: none;
      height: 340px;
      width: 100vw;

      .swiper-slide {
        width: 100vw;
        height: 100%;
      }

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }

  .js-facts-container {
    height: 100vh;

    .row {
      @include media-breakpoint-down(lg) {
        row-gap: 30px;
        display: grid;
        grid-template-areas: 't t'
          'l r';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
      }
    }
  }

  &-section__inner {
    @include media-breakpoint-down(lg) {
      height: 300px !important;
      flex-grow: 1;
    }
  }

  &__center-block {
    @include media-breakpoint-down(lg) {
      height: unset !important;
    }
  }
}