.facts {

  &__title {
    @include typography("Musticapro", normal, 600, 36px, 36px);

    &--transition {
      font-size: 60px;
      line-height: 60px;

      @media (prefers-reduced-motion: no-preference) {
        transition: font-size 2.5s ease, line-height 2.5s ease;
      }
    }

  }

  &__title,
  &__title--transition {
    @include media-breakpoint-down(md) {
      transition: none;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__slider {
    opacity: 0;

    &--transition {
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity 5s ease;
      }
    }

    &--tl,
    &--tr {
      .facts__slide {
        display: flex;
        align-items: end;
      }
    }

    &--bl,
    &--br {
      .facts__slide {
        display: flex;
        align-items: start;
      }
    }

  }

  &__slide:not(:has(img)) {
    padding: 20px 0;
  }

  &__center-block {
    gap: 20px;
    height: 54%;
  }


  &__center-block-text {
    gap: 20px;
    opacity: 0;
    @include typography-caption;

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 5.5s ease-out, opacity 5.5s ease-out;
    }

    &--transition {
      opacity: 1;
    }
  }

  &__center-block-text,
  &__center-block-text--transition {
    @include media-breakpoint-down(md) {
      transition: none;
      opacity: 1;
    }
  }

  &__button {
    padding: 23px 5px;
    text-transform: uppercase;
    @include typography-body;

    @include media-breakpoint-down(lg) {
      padding: 10px 5px;
      margin-top: 10px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $color-gray-dark;
  }

  &.js-facts-section {
    height: 400vh;
  }

  .js-facts-container {
    position: sticky;
    top: 0;
  }
}


.facts {
  &-1 {
    grid-area: l;
  }

  &-2 {
    grid-area: t;

    @include media-breakpoint-down(lg) {
      order: -1 !important;
    }

    @include media-breakpoint-down(sm) {
      height: 100vh;
    }
  }

  &__center-block {
    @include media-breakpoint-down(sm) {
      flex-grow: 1;
    }
  }
  
  &__center-block .swiper {
    display: none;
    
    @include media-breakpoint-down(sm) {
      display: block;
      height: 300px;
      flex-grow: 1;
    }

    .swiper-slide {
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;

        img {
          height: 0px;
          flex-grow: 1;
        }
      }
    }
  }

  &-3 {
    grid-area: r;
  }

  &-1,
  &-3 {
    @include media-breakpoint-down(lg) {
      align-self: stretch;
      height: auto;
      width: 100%;
      display: flex !important;
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  .js-facts-container {
    height: 100vh;
    
    .row {
      @include media-breakpoint-down(lg) {
        row-gap: 30px;
        display: grid;
        grid-template-areas: 't t'
        'l r'
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
      }
    }
  }

  &-section__inner {
    @include media-breakpoint-down(lg) {
      height: 300px !important;
      flex-grow: 1;
    }
  }

  &__center-block {
    @include media-breakpoint-down(lg) {
      height: unset !important;
    }
  }

}