.reviews {
  &__title {
    @include typography-accent-title;
  }

  &__description {
    @include typography-h3;
    font-weight: 400;

    @include media-breakpoint-down(md) {
      margin: 24px auto 0 auto;
      width: 174px;
    }
  }

  &__slider {
    margin-top: 80px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }

    &-wrapper {
      transition-timing-function: linear !important;
    }
  }

  &-slide {
    padding: 40px;
    width: 926px;
    background-color: $color-light;
    position: relative;
    gap: 160px;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
      gap: 60px;
      width: 684px;
    }

    @include media-breakpoint-down(md) {
      gap: 60px;
      width: 330px;
      padding: 16.89px 24px 16.89px 16.89px;
    }

    &::before {
      z-index: 2;
      content: '';
      position: absolute;
      width: 126px;
      height: 126px;
      left: 20%;
      top: 15%;
      transform: translateY(-50%);
      background-image: url('../img/quotes.svg');
      background-size: cover;
    }

    &::after {
      z-index: 2;
      content: '';
      position: absolute;
      width: 126px;
      height: 126px;
      left: 32%;
      top: 15%;
      transform: translateY(-50%);
      background-image: url('../img/quotes.svg');
      background-size: cover;
    }

    &::before,
    &::after {
      @include media-breakpoint-down(lg) {
        width: 86px;
        height: 86px;
      }

      @include media-breakpoint-down(md) {
        top: 10%;
        width: 46px;
        height: 46px;
      }
    }


    &__mark {
      z-index: 4;
      @include typography("Geologica", normal, 250, 140px, 140px);

      @include media-breakpoint-down(md) {
        @include typography("Geologica", normal, 250, 60px, 60px);
      }
    }

    &__star {
      margin-top: 55px;
      width: 47px;
      height: 47px;

      @include media-breakpoint-down(md) {
        margin-top: 101px;
        width: 20px;
        height: 20px;
      }
    }

    &__text {
      z-index: 4;
      @include typography-desktop-title;

      @include media-breakpoint-down(md) {
        @include typography-caption;
      }
    }

    &__author {
      @include typography-caption;

      @include media-breakpoint-down(md) {
        font-size: 8px;
      }
    }
  }
}