/* Error: Undefined mixin.
 *    ,
 * 12 | /     @include media-breakpoint-down(md) {
 * 13 | |         margin-top: 0;
 * 14 | |         padding-top: 53px;
 * 15 | |         padding-bottom: 56px;
 * 16 | | 
 * 17 | |         background-position: left bottom;
 * 18 | \     }
 *    '
 *   scss/pages/ctm/_hero.scss 12:5  @import
 *   scss/pages/ctm/index.scss 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502  \250c      @include media-breakpoint-down(md) {\a 13 \2502  \2502          margin-top: 0;\a 14 \2502  \2502          padding-top: 53px;\a 15 \2502  \2502          padding-bottom: 56px;\a 16 \2502  \2502  \a 17 \2502  \2502          background-position: left bottom;\a 18 \2502  \2514      }\a    \2575 \a   scss/pages/ctm/_hero.scss 12:5  @import\a   scss/pages/ctm/index.scss 1:9   root stylesheet";
}
