.feedback {
    background-image: url('../img/feedback/feedback-background.png');
    background-size: 44% auto;
    background-repeat: no-repeat;
    background-position: right;

    @include media-breakpoint-down(xxl) {
        background-size: auto 100%;
    }

    @include media-breakpoint-down(lg) {
        background-color: rgba(255, 255, 255, .75);
        background-blend-mode: overlay;
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        align-items: end;
        height: 1122px;
        background-size: 282px 451px;
        background-position: top right;
        background-color: unset;
        background-blend-mode: unset;
    }

    &__ctm {
        background-image: url('../img/ctm/feedback-ctm-background.jpg');
    }

    &__main {
        margin-top: 40px;
        padding-bottom: 198px;
        background-size: 38% auto;
        background-image: url('../img/main/Лаборатория-2.png');

        @include media-breakpoint-down(xxl) {
            background-size: auto 100%;
        }

        @include media-breakpoint-down(lg) {
            margin-top: 32px;
            padding-bottom: 100px;
            background-color: rgba(255, 255, 255, .75);
            background-blend-mode: overlay;
        }

        @include media-breakpoint-down(md) {
            margin-top: 24px;
            padding-bottom: 56px;
        }

        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: end;
            height: 1096px;
            background-size: 282px 451px;
            background-position: top right;
            background-color: unset;
            background-blend-mode: unset;
        }
    }

    &__salt {
        padding-bottom: 138px;
        background-size: 38% auto;
        background-image: url('../img/salt/salt-form.jpg');

        @include media-breakpoint-down(xxl) {
            background-size: auto 100%;
            padding-bottom: 100px;
        }

        @include media-breakpoint-down(sm) {
            background-size: 282px 451px;
            padding-bottom: 0;

            display: block;
            align-items: unset;
            height: auto;
            padding-top: 481px;
        }
    }

    &__rd {
        padding-bottom: 198px;
        background-size: 38% auto;
        background-image: url('../img/rd/feedback-rd-background.jpg');

        @include media-breakpoint-down(xxl) {
            background-size: auto 100%;
        }

        @include media-breakpoint-down(lg) {
            padding-bottom: 100px;
            background-color: rgba(255, 255, 255, .75);
            background-blend-mode: overlay;
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 56px;
        }

        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: end;
            height: 1096px;
            background-size: 282px 451px;
            background-position: top right;
            background-color: unset;
            background-blend-mode: unset;
        }
    }


    &__title {
        @include typography-accent-title;
    }

    &__subtext {
        margin-top: 30px;
        max-width: 565px;
        @include typography("Inter", normal, 400, 17px, 120%);

        @include media-breakpoint-down(md) {
            margin-top: 16px;
        }
    }

    &__form {
        margin-top: 80px;

        @include media-breakpoint-down(lg) {
            margin-top: 30px;
        }

        &-label {
            textarea {
                margin-top: 10px;
                border: 1px solid $color-gray-dark;

                &:focus {
                    outline: none;
                    border-color: $color-dark;
                }
            }
        }

        &-input {
            padding: 28px 20px 20px 20px;
            border: none;
            border-bottom: 1px solid $color-gray-dark;
            background-color: transparent;
            color: $color-dark;
            @include typography-caption;

            &::placeholder {
                color: $color-dark;
                opacity: 1;
            }

            &:focus {
                outline: none;
                border-bottom-color: $color-dark;
            }
        }

        &-check {
            margin-top: 70px;

            @include media-breakpoint-down(lg) {
                margin-top: 40px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 30px;
            }
        }

        &-button {
            @include typography-body;
            text-transform: uppercase;
            padding: 23px 10px;
            margin-top: 40px;

            @include media-breakpoint-down(md) {
                padding: 5px 10px;
            }
        }
    }

    &__notes {
        margin-top: 20px;
        gap: 20px;

        @include media-breakpoint-down(sm) {
            margin-top: 8px;
            gap: 10px;
        }
    }

    &__note {
        width: 50%;
        padding: 24px 10px;
        border: 1px solid $color-gray-dark;
        border-radius: 100px;
        @include typography-caption;
        text-align: center;

        @include media-breakpoint-down(md) {
            padding: 5px 10px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}