.page-salt-composition {
  padding-top: 120px;

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  &__title {
    position: relative;
    @include typography("Musticapro", normal, 600, 72px, 85%);
    letter-spacing: -0.05em;
    max-width: 460px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(100% + 20px);
      width: 100vw;
      height: 1px;
      background-color: rgba($color-dark, 0.1);

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 44px;
    }

    @include media-breakpoint-down(md) {
      font-size: 32px;
    }
  }

  &__row2 {
    margin-top: 8px;

    @include media-breakpoint-down(md) {
      margin-top: 12px;
    }
  }

  &__subtitle {
    @include typography("Musticapro", normal, 600, 32px, 110%);
    letter-spacing: 0.01em;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__text {
    @include typography("Geologica", normal, 400, 14px, 130%);
    letter-spacing: -0.01em;
    margin-top: 20px;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
}
