.page-salt-secret {
  padding-top: 120px;

  @include media-breakpoint-down(md) {
    padding-top: 64px;
  }

  &__card {
    height: 276px;
    background-color: $color-dark;
    color: $color-gray;
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      min-height: 0;
      margin-bottom: 32px;
    }
  }

  &__card-line1 {
    @include typography("Musticapro", normal, 600, 52px, 100%);
    letter-spacing: 0.01em;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      font-size: 36px;
    }
  }

  &__card-line2 {
    @include typography("Geologica", normal, 400, 20px, 120%);
    letter-spacing: -0.01em;
    text-align: right;
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%
  }

  &__text {
    @include typography("Geologica", normal, 400, 16px, 130%);
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }

  &__button {
    margin-top: auto;
    width: 100%;
    max-width: 454px;
    height: 60px;
    text-transform: uppercase;
    background-color: $color-gray;
    @include typography-body;

    @include media-breakpoint-down(md) {
      max-width: none;
      height: 48px;
    }
  }
}